@import '../../theme.scss';

.genre-options-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .genre-options-wrapper {
        display: inline-block;
        font-family: 'Montserrat';
        padding-bottom: 10px;

        .option {
            padding:5px;
            color: $color-secondary-1;
            text-transform: capitalize;
        }

        .option-button {
            background: $color-primary-4;
            border: unset;
            border-radius: 5px;
            font-weight: bold;
            font-family: 'Montserrat';
        }
        
    }
}
