.billboard-list-container {
    width: 100%;
    border-top: 1px solid black;

    .billboard-list-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}