@import '../../theme.scss';

.billboard-list-container {
    width: 100%;
    border-top: 2px solid $color-primary-3;

    .billboard-list-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 5px;

        .options-wrapper {
            width: auto;
            background: $color-primary-2;
            border-radius: 5px;
            padding:10px;
        }

        .movie-list {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
