@import '../../theme.scss';

.loading-spinner-container {
    display: flex;
    justify-content: center;
    padding-top: 15px;
                
    .loading-spinner {
        width: 25px;
        height: 25px;
        border: 3px solid $color-primary-1;
        border-top-color: $color-primary-4;
        border-radius: 50%;
        animation: spin 1s ease-in-out infinite;

        @keyframes spin {
            to { transform: rotate(360deg); }
        }
    }
}